body{
    background-color: rgb(255, 182, 193);
    color: black;
}

.top:hover{
    color: transparent;
}

.top:hover::after{
    content: attr(title)
}

.facts{
    background-color: rgb(25, 68, 193);
    color: aquamarine;
}
a[href*="https://frhsd.com"]{
    background-color: limegreen;
}

a:visited{
    color: beige;
}

li:hover{
    background-color: navy;
}


li+li{
    color: darkviolet;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 12px;
    img{
        grid-column: span 3;
        grid-row: span 3;
        height: 100%;
        width: 100%;
    }
    p {
        grid-row: span 2;
        grid-column: span 2;
    }
    a {
        grid-row: span 1;
        grid-column: span 1;
    }
}