body{
    background-color: rgb(255, 182, 193);
    color: black;
}

.top:hover{
    color: transparent;
}

.top::after{
    content: attr(title)
}

a:visited{
    color: beige;
}

li:hover{
    background-color: navy;
    color: white;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 12px;
    img{
        grid-column: span 3;
        grid-row: span 3;
        height: 100%;
        width: 100%;
    }
    p {
        grid-row: span 2;
        grid-column: span 2;
    }
    a {
        grid-row: span 1;
        grid-column: span 1;
    }
}

#table {
    margin: 20px;
    padding: 2.5px;
    border: 2px dashed cornflowerblue;
    align-items: center;
}

a[href^="https"] {
    font-weight: bold;
}

a[href^="#top"] {
    font-weight: bold;
}

div > p {
    font-family: "Fira Code", monospace;
}

div a:hover{
    color: red;
}

button + button {
    background-color: lightblue;
}

.row-container {
    display: flex;
    justify-content: space-evenly;
}